* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #08266a;
  --secodary-color: #96cdf6;
  --dark-color: #000511;
  --black: #191817;
  --black25: #cfdbf8fb;
  --black10: #f8f8f8;

  --H1: 7.419rem;
  --H2: clamp(2.624rem, 3.4783vw + 0.3043rem, 5.247rem);
  --H3: clamp(2.856rem, 3.4783vw + 0.3043rem, 3.711rem);
  --H4: 2.624rem;
  --H5: clamp(1.313rem, 3.4783vw + 0.3043rem, 1.856rem);
  --H6: clamp(0.9rem, 3.4783vw + 0.3043rem, 1.313rem);
}

body {
  background-color: var(--black10);
  margin-left: 250px;
}

.user-welcome {
  padding: 64px 32px 0 32px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.table-container {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  border: solid 2px var(--black10);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 25%);
}

.table-title {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-title a {
  color: var(--primary-color);
  font-size: 24px;
}

.table-title h2 {
  color: var(--primary-color);
  font-size: var(--H6);
  font-family: Merienda, Arial;
  font-weight: 900;
}

table {
  border-collapse: collapse;
  margin: 8px 0;
  width: 100%;
}

thead tr {
  display: flex;
  justify-content: space-between;
  justify-content: 100%;
}

tbody tr {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

thead th {
  padding: 8px 16px 16px 16px;
}

thead th,
tbody td {
  color: var(--primary-color);
  font-family: Poppins, Arial;
  text-align: start;
  width: 250px;
}

tbody tr:nth-child(Odd) {
  background-color: var(--black10);
}

tbody td {
  color: var(--dark-color);
  font-family: Average Sans, Arial;
  padding: 0 16px;
}

.card-outline-primary {
  padding: 32px 64px;
}

.table-responsive {
  overflow: auto;
  margin-top: 48px;
  padding: 32px 16px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 30%);
}

tbody th,
td {
  padding: 8px 0;
}

.table-responsive::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 25%);
  visibility: hidden;
  transition: visibility 0.5s ease-in-out;
}

.table-responsive:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.page-label {
  display: flex;
}

.page-label h2 {
  border-radius: 16px;
  font-family: Poppins, Arial;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 16px 32px;
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--black10);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 30%);
}